<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/static/layuiadmin/layui/alibaba/css/iconfont.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/layuiadmin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/layuiadmin/style/admin.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/css/ocpp.css}" media="all">
</head>
<body>

    <script type="text/javascript" src="http://api.tianditu.gov.cn/api?v=4.0&tk=4bb34f627d7b9b33c83ad8eeb1dcf255"></script>
    <script th:src="@{/static/plugins/echarts/echarts.min.js}" ></script>
    <script th:src="@{/static/plugins/echarts/walden.js}" ></script>
    <script th:src="@{/static/layuiadmin/layui/layui.js}" ></script>
</body>
</html>

