<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxyt.ocpp.client.mapper.sys.IChannelMapper">

    <resultMap id="BaseResultMap" type="com.zxyt.ocpp.client.entity.sys.Channel">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="p_id" jdbcType="VARCHAR" property="pId"/>
        <result column="type" jdbcType="SMALLINT" property="type"/>
        <result column="status" jdbcType="SMALLINT" property="status"/>
        <result column="child" jdbcType="INTEGER" property="child"/>
        <result column="parent_name" jdbcType="VARCHAR" property="parentName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <!-- 查询渠道手段信息 -->
    <select id="findAll" resultMap="BaseResultMap">
        select
        c.id,
        c.name,
        c.code,
        c.icon,
        c.status,
        c.p_id,
        c.type,
        (select count(*) from channel ch where ch.p_id = c.id) child,
        c.create_time
        FROM channel c where 1=1
        <if test="id != null and id != ''">AND c.id = #{id}</if>
        <if test="name != null and name != ''">AND c.name LIKE '${name}%'</if>
        <if test="pId != null and pId != ''">AND c.p_id = #{pId}</if>
        <if test="type != null and type != ''">AND c.type = #{type}</if>
        <if test="status != null and status != ''">AND c.status = #{status}</if>
        <choose>
            <when test="sortName !=null and sortName!='id'">
                ORDER BY ${sortName} ${sortOrder}
            </when >
            <otherwise>
                ORDER BY c.create_time DESC
            </otherwise>
        </choose>
    </select>

    <!-- 根据地区id查询渠道手段信息 -->
    <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        c.id,
        c.name,
        c.code,
        c.status,
        c.icon,
        c.p_id,
        type,
        c.create_time
        FROM channel c where 1=1
        <if test="id != null and id != ''">AND c.id = #{id}</if>
    </select>

    <!-- 查询渠道手段信息 -->
    <select id="selectByParam" resultMap="BaseResultMap">
        select
        c.id,
        c.name,
        c.code,
        c.icon,
        c.status,
        c.p_id,
        type,
        (select count(*) from channel ch where ch.p_id = c.id) child,
        c.create_time
        FROM channel c where 1=1
        <if test="id != null and id != ''">AND c.id = #{id}</if>
        <if test="name != null and name != ''">AND c.name LIKE '${name}%'</if>
        <if test="pId != null and pId != ''">AND c.p_id = #{pId}</if>
        <if test="type != null and type != ''">AND c.type = #{type}</if>
        ORDER BY status DESC, create_time ASC
    </select>

    <!--渠道是否开启禁用-->
    <update id="updateStatus">
        update channel set status = #{status} where id = #{id}
    </update>

</mapper>