<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxyt.ocpp.client.mapper.sys.IDisasterMapper">

    <resultMap id="BaseResultMap" type="com.zxyt.ocpp.client.entity.sys.Disaster">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="code" jdbcType="SMALLINT" property="code"/>
        <result column="p_id" jdbcType="VARCHAR" property="pId"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="disaster_color" jdbcType="SMALLINT" property="disasterColor"/>
        <result column="disaster_level" jdbcType="SMALLINT" property="disasterLevel"/>
        <result column="is_config" jdbcType="SMALLINT" property="isConfig"/>
        <result column="is_strategy" jdbcType="SMALLINT" property="isStrategy"/>
        <result column="child" jdbcType="INTEGER" property="child"/>
        <result column="parent_name" jdbcType="VARCHAR" property="parentName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <!-- 查询渠道手段信息 -->
    <select id="findAll" resultMap="BaseResultMap">
        select
            d.id,
            d.name,
            d.code,
            d.icon,
            d.p_id,
            d.type,
            d.disaster_color,
            d.disaster_level,
            d.is_config,
            d.is_strategy,
            (select dis.name from disaster dis where dis.id = d.p_id) parent_name,
            (select count(*) from disaster di where di.p_id = d.id) child,
            d.create_time
        FROM disaster d where 1=1
        <if test="id != null and id != ''">AND d.id = #{id}</if>
        <if test="name != null and name != ''">AND d.name LIKE '${name}%'</if>
        <if test="code != null and code != ''">AND d.code = #{code}</if>
        <if test="pId != null and pId != ''">AND d.p_id = #{pId}</if>
        <if test="type != null and type != ''">AND d.type = #{type}</if>
        <if test="isConfig != null and isConfig != ''">AND d.is_config = #{isConfig}</if>
        <choose>
            <when test="sortName !=null and sortName!='id'">
                ORDER BY ${sortName} ${sortOrder}
            </when >
            <otherwise>
                ORDER BY d.create_time DESC
            </otherwise>
        </choose>
    </select>

    <!-- 根据地区id查询灾种信息 -->
    <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
            d.id,
            d.name,
            d.code,
            d.icon,
            d.p_id,
            d.type,
            d.disaster_color,
            d.disaster_level,
            d.is_config,
            d.is_strategy,
            d.create_time
        FROM disaster d where 1=1
        <if test="id != null and id != ''">AND d.id = #{id}</if>
    </select>


    <!--更新策略配置，是否进行过策略配置-->
    <update id="updateStrategyById">
        update disaster set is_strategy = #{isStrategy} where id in
        <foreach collection="id.split(',')" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

</mapper>