<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxyt.ocpp.client.mapper.sys.IZTreeMapper">


    <resultMap id="ZTreeMenuResultMap" type="com.zxyt.ocpp.client.entity.sys.ZTree">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="p_id" jdbcType="VARCHAR" property="pId"/>
        <result column="img" jdbcType="VARCHAR" property="img"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="turn" jdbcType="INTEGER" property="turn" />
        <result column="area_id" jdbcType="VARCHAR" property="areaId"/>
        <result column="organization_id" jdbcType="VARCHAR" property="organizationId"/>
    </resultMap>

    <resultMap id="ZTreeResultMap" type="com.zxyt.ocpp.client.entity.sys.ZTree">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="p_id" jdbcType="VARCHAR" property="pId"/>
        <result column="level" jdbcType="SMALLINT" property="level"/>
        <result column="area_id" jdbcType="VARCHAR" property="areaId"/>
    </resultMap>

    <resultMap id="ZTreeDisasterResultMap" type="com.zxyt.ocpp.client.entity.sys.ZTree">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="p_id" jdbcType="VARCHAR" property="pId"/>
        <result column="disaster_color" jdbcType="SMALLINT" property="disasterColor"/>
        <result column="disaster_level" jdbcType="SMALLINT" property="disasterLevel"/>
        <result column="is_config" jdbcType="SMALLINT" property="isConfig"/>
        <result column="img" jdbcType="VARCHAR" property="img"/>
        <result column="is_strategy" jdbcType="SMALLINT" property="isStrategy"/>
        <result column="type" jdbcType="SMALLINT" property="type"/>
    </resultMap>

    <resultMap id="ZTreeUserGroupResultMap" type="com.zxyt.ocpp.client.entity.sys.ZTree">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="count" jdbcType="INTEGER" property="count"/>
        <result column="p_id" jdbcType="VARCHAR" property="pId"/>
        <result column="channel_id" jdbcType="VARCHAR" property="channelId"/>
        <result column="area_id" jdbcType="VARCHAR" property="areaId"/>
        <result column="organization_id" jdbcType="VARCHAR" property="organizationId"/>
        <result column="area_name" jdbcType="VARCHAR" property="areaName"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    </resultMap>

    <!-- 查询地区信息树 -->
    <select id="getMenuTree" resultMap="ZTreeMenuResultMap">

        SELECT
            id,
            name,
            code,
            p_id,
            icon img,
            level,
            turn,
            area_id,
            organization_id
        FROM
            menu
        where 1=1
        <if test="id != null and id != ''">AND id = #{id}</if>
        <if test="name != null and name != ''">AND name LIKE '${name}%'</if>
        <if test="code != null and code != ''">AND code = #{code}</if>
        <if test="pId != null and pId != ''">AND p_id = #{pId}</if>
        <if test="level != null and level != ''">AND level = #{level}</if>
        <if test="areaId != null and areaId != ''">AND area_id = #{areaId}</if>
        <if test="organizationId != null and organizationId != ''">AND organization_id = #{organizationId}</if>
        order by turn
    </select>

    <!-- 查询地区信息树 -->
    <select id="getAreaTree" resultMap="ZTreeResultMap">

        SELECT
            id, p_id, area_name name, code, level
        FROM area where 1=1
        <if test="id != null and id != ''">AND id = #{id}</if>
        <if test="areaId != null and areaId != ''">AND id = #{areaId}</if>
        <if test="areaName != null and areaName != ''">AND area_name LIKE '${areaName}%'</if>
        <if test="code != null and code != ''">AND code = #{code}</if>
        <if test="pId != null and pId != ''">AND p_id = #{pId}</if>
        <if test="level != null and level != ''">AND level = #{level}</if>

    </select>

    <!-- 查询机构信息树 -->
    <select id="getOrganizationTree" resultMap="ZTreeResultMap">

        SELECT
          id, p_id, organization_name name, code, area_id
        FROM organization where 1=1
        <if test="id != null and id != ''">AND id = #{id}</if>
        <if test="organizationId != null and organizationId != ''">AND id = #{organizationId}</if>
        <if test="organizationName != null and organizationName != ''">AND organizationName LIKE '${organizationName}%'</if>
        <if test="code != null and code != ''">AND code = #{code}</if>
        <if test="pId != null and pId != ''">AND p_id = #{pId}</if>
        <if test="areaId != null and areaId != ''">AND area_id = #{areaId}</if>

    </select>

    <!-- 查询灾种信息树 -->
    <select id="getDisasterTree" resultMap="ZTreeDisasterResultMap">

        SELECT
            d.id,
            d.name,
            d.code,
            d.icon img,
            d.p_id,
            d.type,
            d.disaster_color,
            d.disaster_level,
            d.is_config,
            d.is_strategy,
            d.create_time
        FROM disaster d where is_config = 0
        <if test="id != null and id != ''">AND d.id = #{id}</if>
        <if test="name != null and name != ''">AND d.name LIKE '${name}%'</if>
        <if test="code != null and code != ''">AND d.code = #{code}</if>
        <if test="pId != null and pId != ''">AND d.p_id = #{pId}</if>

    </select>

    <!-- 查询灾种级别信息树 -->
    <select id="getDisasterLevelTree" resultMap="ZTreeDisasterResultMap">

         SELECT
            d.id,
            d.name,
            d.code,
            d.icon img,
            d.p_id,
            d.type,
            d.disaster_color,
            d.disaster_level,
            d.is_config,
            d.is_strategy,
            d.create_time
        FROM disaster d where 1=1
        <if test="id != null and id != ''">AND d.id = #{id}</if>
        <if test="name != null and name != ''">AND d.name LIKE '${name}%'</if>
        <if test="code != null and code != ''">AND d.code = #{code}</if>
        <if test="pId != null and pId != ''">AND d.p_id = #{pId}</if>
    </select>

    <!-- 查询群组树 -->
    <select id="getUserGroupTree" resultMap="ZTreeUserGroupResultMap">
        SELECT
        ug.id,
        ug.p_id,
        ug.name,
        ug.channel_id,
        ug.area_id,
        a.area_name,
        ug.organization_id,
        o.organization_name
        FROM user_group ug
        LEFT JOIN area a on a.id = ug.area_id
        LEFT JOIN organization o on o.id = ug.organization_id
        where 1=1
        <if test="id != null and id != ''">AND ug.id = #{id}</if>
        <if test="name != null and name != ''">AND ug.name LIKE '${name}%'</if>
        <if test="pId != null and pId != ''">AND ug.p_id = #{pId}</if>
        <if test="areaId != null and areaId != ''">AND ug.area_id = #{areaId}</if>
        <if test="organizationId != null and organizationId != ''">AND ug.organization_id = #{organizationId}</if>
        <if test="channelId != null and channelId != ''">AND ug.channel_id = #{channelId}</if>

    </select>

    <!-- 查询群组对应受众个数树 -->
    <select id="getUserGroupCountTree" resultMap="ZTreeUserGroupResultMap">
        <!--SELECT-->
            <!--ug.id,-->
            <!--ug.p_id,-->
            <!--ug.name,-->
            <!--ug.channel_id,-->
            <!--ug.area_id,-->
            <!--(SELECT count(1) from user u where u.user_group_id = ug.id) count-->
        <!--FROM-->
          <!--user_group ug-->
        <!--where 1=1-->
        <!--<if test="id != null and id != ''">AND ug.id = #{id}</if>-->
        <!--<if test="pId != null and pId != ''">AND ug.p_id = #{pId}</if>-->
        <!--<if test="areaId != null and areaId != ''">-->
            <!--AND ug.area_id in-->
            <!--<foreach collection="areaId.split(',')" item="item" open="(" close=")" separator=",">-->
                <!--#{item}-->
            <!--</foreach>-->
        <!--</if>-->
        <!--<if test="organizationId != null and organizationId != ''">AND ug.organization_id = #{organizationId}</if>-->
        <!--<if test="channelId != null and channelId != ''">AND ug.channel_id = #{channelId}</if>-->

        (
            SELECT
                a.id,
                a.p_id,
                a.area_name NAME,
                '' channel_id,
                a.id area_id,
                0 count,
                0 type
            FROM area a WHERE 1=1
            <if test="areaId != null and areaId != ''">
                AND a.id IN
                <foreach collection="areaId.split(',')" item="item" open="(" close=")" separator=",">
                #{item}
                </foreach>
            </if>
        )UNION ALL(
            SELECT
                o.id,
                o.area_id p_id,
                o.organization_name NAME,
                '' channel_id,
                o.area_id,
                0 count,
                1 type
            FROM organization o  where 1=1
            <if test="organizationId != null and organizationId != ''">
                <!--and FIND_IN_SET(o.id, getOrgCList('${organizationId}'))-->
                AND (FIND_IN_SET(o.id,getOrgCList ('${organizationId}')) or p_id is null or p_id = '')
                and type = 1
            </if>
        )UNION ALL(
            SELECT
                ug.id,
                (case when ug.organization_id = ''    THEN ug.area_id
                      when ug.organization_id is null THEN ug.area_id
                      else ug.organization_id end)  p_id,
                ug.NAME,
                ug.channel_id,
                ug.area_id,
                (SELECT COUNT(1) FROM USER u WHERE u.user_group_id = ug.id ) count,
                2 type
            FROM user_group ug where 1=1
            <if test="areaId != null and areaId != ''">
                AND ug.area_id IN
                <foreach collection="areaId.split(',')" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="channelId != null and channelId !=''">
                AND ug.channel_id IN
                <foreach collection="channelId.split(',')" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        )
    </select>

    <!--机构对应群组树-->
    <select id="getOrganizationUserGroupTree" resultMap="ZTreeUserGroupResultMap">
        <!--(SELECT-->
                <!--id,-->
                <!--p_id,-->
                <!--organization_name name,-->
                <!--area_id,-->
                <!--id organization_id,-->
                <!--1 type-->
            <!--FROM-->
                <!--organization-->
            <!--where 1=1-->
            <!--<if test=" organizationId != null and organizationId !='' "> and id = #{organizationId} </if>-->
        <!--) UNION ALL (-->
            <!--SELECT-->
                <!--id,-->
                <!--organization_id p_id,-->
                <!--name,-->
                <!--area_id,-->
                <!--organization_id,-->
                <!--2 type-->
            <!--FROM-->
                <!--user_group-->
            <!--where 1=1-->
          <!--<if test=" organizationId != null and organizationId !='' "> and organization_id = #{organizationId} </if>-->
        <!--)-->

        <!--(-->
            <!--SELECT a.id id, a.area_name name, a.p_id p_id, 0 type FROM area a where 1=1-->
            <!--<if test="areaId != null and areaId != ''">-->
                <!--and FIND_IN_SET(id, getAreaCList('${areaId}'))-->
            <!--</if>-->
        <!--)union all(-->
            <!--SELECT o.id id, o.organization_name name, o.area_id p_id, 1 type FROM organization o where 1=1-->
            <!--<if test="areaId != null and areaId != ''">-->
                <!--and FIND_IN_SET(area_id, getAreaCList('${areaId}'))-->
            <!--</if>-->
        <!--)union all(-->
            <!--SELECT ug.id id, ug.name name, ug.organization_id p_id, 2 type FROM user_group ug where 1=1-->
            <!--<if test="areaId != null and areaId != ''">-->
                <!--and FIND_IN_SET(area_id, getAreaCList('${areaId}'))-->
            <!--</if>-->
            <!--<if test="organizationId != null and organizationId != ''">-->
                <!--and FIND_IN_SET(organization_id, getOrgCList('${organizationId}'))-->
            <!--</if>-->
        <!--)-->

            (
                SELECT
                    a.id id,
                    a.area_name name,
                    a.p_id p_id,
                    a.id area_id,
                    a.area_name area_name,
                    null organization_id,
                    null organization_name,
                    null user_group_id,
                    null user_group_name,
                    0 type
                FROM area a where 1=1
                <if test="areaId != null and areaId != ''">
                    and FIND_IN_SET(id, getAreaCList('${areaId}'))
                </if>
            )union all(
                SELECT
                    o.id id,
                    o.organization_name name,
                    o.area_id p_id,
                    o.area_id area_id,
                    null area_name,
                    o.id organization_id,
                    o.organization_name organization_name,
                    null user_group_id,
                    null user_group_name,
                    1 type
                FROM organization o  where 1=1
                <if test="areaId != null and areaId != ''">
                    and FIND_IN_SET(area_id, getAreaCList('${areaId}'))
                </if>
            )union all(
                SELECT
                    ug.id id,
                    ug.name name,
                    (case when ug.organization_id = ''    THEN ug.area_id
                          when ug.organization_id is null THEN ug.area_id
                          else ug.organization_id end)  p_id,
                    ug.area_id area_id,
                    null area_name,
                    ug.organization_id organization_id,
                    null organization_name,
                    ug.id user_group_id,
                    ug.name user_group_name,
                    2 type
                FROM user_group ug where 1=1
                <if test="areaId != null and areaId != ''">
                    and FIND_IN_SET(area_id, getAreaCList('${areaId}'))
                </if>
            )

    </select>
</mapper>